.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.board-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.board-cell {
  width: 40px;
  height: 40px;
}

.zero {
  background-color: #afadad;
}

.one {
  background-color: #7a3e3e;
}

.two {
  background-color: #161515;
}

.three {
  background-color: #fdf6f6;
}

.nine {
  background-color: #352553;
}

.Z {
  background-color: #7a3e3e;
  box-shadow: inset 0 0 0 10px #fdf6f6;
}
